PORT=3001
VERIFY_TOKEN=hairtech_token_2026
WHATSAPP_TOKEN=SEU_TOKEN_AQUI
PHONE_NUMBER_ID=983992428140920
DATABASE_URL=postgresql://hairtech:HairTech2026.DB@hairtech-postgres:5432/hairtechdb
GEMINI_API_KEY=SEU_GEMINI_API_KEY_AQUI
OWNER_PHONE=5521982006372
NOTIFY_PHONE=5521967813366
ADMIN_PASS=hairtech2026
ANA_PHONE=5521967813366
